<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Angela Yu</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Mansi.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/mansi.png" alt="angela-profile-img">
      <h2>Hey there!</h2>
      <p class="intro">I am dedicated Python developer and a current Integrated Mtech A.I. student at VIT University, I'm all about coding and learning. Eager to navigate the world of programming and contribute my skills wherever needed.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code with Angela Yu's Udemy course "100 Days of Code: The Complete Python Pro Bootcamp for 2023" because I wanted to create my own video games, websites, and apps.Now, I have experience in designing and building web applications and I'm diving deeper into AI/ML to expand my knowledge.</p>

      </div>
          <div class="skill-row">
          <img class="math-img" src="static/images/maths.png" alt="chillies-img">

        <h3>Math Lover</h3>
        <p>
I really love math! Calculus, linear algebra, and statistics are like exciting puzzles to me. Solving problems in math feels like going on an awesome adventure. It's not just about numbers; it's about discovering cool things and having fun along the way!</p>

          </div>
            <div class="skill-row">
        <img class="life-img" src="static/images/life.png" alt="chillies-img">

        <h3>Embracing Life's Adventure</h3>
        <p>Outside the realms of syntax and logic, you'll find me exploring the world with the curiosity of a child and the enthusiasm of an adventurer.Beyond coding, I'm on a journey to discover the wonders of life. Every day is an adventure, and I'm soaking it all in with joy!</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love hot wings as much as I do.</h3>
      <p class="contact-message">Love hot wings as much as I do? Let's talk about how awesome they are! We can code while we eat hot wings!</p>
      <a class="btn" href="mailto:mansiyadavaz126@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/mansi-yadav-33738a250/">LinkedIn</a>
    <a class="footer-link" href="https://github.com/FreeSpirit11">GitHub</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2019 Angela Yu @ The App Brewery.</p>
  </div>
</body>

</html>
